<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupEstudante">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Clientes
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">RM:</label>
        <input type="email" formControlName="id" class="form-control" id="id" placeholder="Seu RM">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Seu nome">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Seu email">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">CPF:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Seu CPF">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Telefone:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Seu telefone">
      </div>
      <div class="mb-3 d-flex justify-content-end gap-2">
        <button class="btn btn-success" (click)="save()">Salvar</button>
        <button class="btn btn-danger" (click)="clear()">Limpar</button>
      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">RM</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">CPF</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudante of estudantes">
      <th scope="row">{{estudante.id}}</th>
      <td>{{estudante.name}}</td>
      <td>{{estudante.email}}</td>
      <td>{{estudante.telefone}}</td>
      <td>{{estudante.cpf}}</td>
      <td>
        <button class="btn btn-primary me-2" (click)="edit(estudante)">Editar</button>
        <button class="btn btn-danger" (click)="delete(estudante)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
